<ion-view view-title="Reittihaku">
  <div style="width:100%;height:30%;position:absolute;
  top:7%;border-bottom: 2px solid black" id="map_canvas2">

    <div class="row">
      <div class="col col-20 col-offset-20">
        <a class="button button-icon icon ion-ios-flag-outline"
           ng-show="mapOpen" ng-click="changeState(0)"></a>
      </div>
      <div class="col col-20">
        <a class="button button-icon icon ion-ios-flag"
           ng-show="mapOpen" ng-click="changeState(1)"></a>
      </div>
      <a class="col col-offset-20 button button-icon icon ion-map"
         ng-click="openMap()"></a>
    </div>

  </div>

  <ion-content overflow-scroll="false" id="times" style="top:37%;">

    <div class="row">
      <div class="col col-60">
        <h1 style="text-align:center;"></h1>
      </div>
      <div class="col col-10 col-offset-10">
        <div ng-click="changeState(0)">
          <a class="button button-icon icon ion-ios-flag-outline"></a>
        </div>
      </div>
      <div class="col">
        <div ng-click="changeState(1)">
          <a class="button button-icon icon ion-ios-flag"></a>
        </div>
      </div>
    </div>

    <div class="row item" ng-repeat="path in paths"
         ng-click="selectPath(path.id)">
      <div class="col col-20" ng-bind="path.start"></div>
      <div class="col col-60">
        <div ng-repeat="leg in path.legs" ng-bind="leg.description"></div>
      </div>
      <div class="col col-20" ng-bind="path.end"></div>
    </div>
  </ion-content>
</ion-view>
