<ion-view view-title="timetables">
  <ion-content>
    <div class="row">
      <div class="col col-75">
        <h1 style="text-align:center;" ng-bind="route.name"></h1>
      </div>
      <div class="col">
        <div ng-click="change_dir()">
          <a class="button button-icon icon ion-android-sync"></a>
        </div>
      </div>
    </div>
    <ul class="list">
      <li class="item" ng-repeat="stopPoint in stops.stopPoints" ng-bind="stopPoint.name"></li>
    </ul>
  </ion-content>
</ion-view>
